.version.apartment /* version checker */
{
	color: #0000F9;
	background-color: #028751;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -41px;
	padding-bottom: 17px;
	width: 0.01px;
}

#pu298
{
	width: 0.01px;
}

#u298
{
	z-index: 7;
	width: 132px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u298_img
{
	padding-right: 1px;
}

#u552
{
	z-index: 9;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u552-bw
{
	z-index: 9;
	margin-top: 116px;
	height: 10px;
}

#u296-5
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-left: 46px;
	margin-top: 8px;
	position: relative;
}

#pu553
{
	width: 0.01px;
	margin-top: 15px;
}

#u553
{
	z-index: 10;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u552::before,#u553::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u553-bw
{
	z-index: 10;
	margin-top: 210px;
	height: 10px;
}

#u2096
{
	z-index: 30;
	width: 233px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

#u633
{
	z-index: 23;
	min-height: 35px;
	border-width: 2px;
	border-style: solid;
	border-color: #22B573;
	background-color: #FFFFFF;
	padding-bottom: 6px;
}

#u638
{
	z-index: 28;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 14px;
}

#u638:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,0,0,0.5);
	width: 145px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u636
{
	z-index: 26;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 171px;
}

#u636:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 56px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u634
{
	z-index: 24;
	width: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 239px;
}

#u634:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(241,90,36,0.5);
	width: 105px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u633-bw
{
	z-index: 23;
	min-height: 35px;
	margin-top: 13px;
}

#ppbuttonu582
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 6px;
}

#pbuttonu582
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu582
{
	z-index: 12;
	width: 148px;
	height: 48px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu582:hover #buttonu582
{
	width: 147px;
	height: 47px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u583
{
	z-index: 14;
	min-height: 23px;
	min-width: 114px;
	vertical-align: top;
	height: 23px;
	width: 114px;
	background: url("../images/u583.png") no-repeat 0px 0px;
}

#pbuttonu582:hover #u583
{
	height: 23px;
	width: 114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 16px;
	background: url("../images/u583-r.png") no-repeat 0px 0px;
}

#pbuttonu582 #u583
{
	height: 23px;
	width: 114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 17px;
}

#pbuttonu584
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 210px;
}

#buttonu584
{
	z-index: 18;
	width: 149px;
	height: 49px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu584:hover #buttonu584
{
	width: 148px;
	height: 48px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u585
{
	z-index: 20;
	min-height: 23px;
	min-width: 119px;
	vertical-align: top;
	height: 23px;
	width: 119px;
	background: url("../images/u585.png") no-repeat 0px 0px;
}

#pbuttonu584:hover #u585
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 18px;
	background: url("../images/u585-r.png") no-repeat 0px 0px;
}

#pbuttonu584 #u585
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

