.version.apps /* version checker */
{
	color: #000011;
	background-color: #D62F02;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 558px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 12px;
}

#pu2061
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
}

#u2061
{
	z-index: 2;
	width: 360px;
	height: 570px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#U2063_animation
{
	width: 360px;
	height: 570px;
	border: none;
}

#u742
{
	z-index: 15;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u742-bw
{
	z-index: 15;
	margin-top: 526px;
	height: 10px;
}

#u740
{
	z-index: 16;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u740-bw
{
	z-index: 16;
	margin-top: 121px;
	height: 10px;
}

#u741
{
	z-index: 17;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u742::before,#u740::before,#u741::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u741-bw
{
	z-index: 17;
	height: 10px;
}

#pbuttonu140
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 576px;
}

#buttonu140
{
	z-index: 4;
	width: 154px;
	height: 48px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 2px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu140:hover #buttonu140
{
	width: 150px;
	height: 44px;
	border-width: 4px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u141
{
	z-index: 6;
	min-height: 23px;
	min-width: 119px;
	vertical-align: top;
	height: 23px;
	width: 119px;
	background: url("../images/u141.png") no-repeat 0px 0px;
}

#pbuttonu140:hover #u141
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 9px;
	background: url("../images/u141-r.png") no-repeat 0px 0px;
}

#pbuttonu140 #u141
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 11px;
}

#pbuttonu142
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 576px;
	margin-left: 209px;
}

#buttonu142
{
	z-index: 10;
	width: 149px;
	height: 49px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 2px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu142:hover #buttonu142
{
	width: 145px;
	height: 45px;
	border-width: 4px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u143
{
	z-index: 12;
	min-height: 23px;
	min-width: 119px;
	vertical-align: top;
	height: 23px;
	width: 119px;
	background: url("../images/u143.png") no-repeat 0px 0px;
}

#pbuttonu142:hover #u143
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 18px;
	background: url("../images/u143-r.png") no-repeat 0px 0px;
}

#pbuttonu142 #u143
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -575px;
}

