.version.apt_pics /* version checker */
{
	color: #00001A;
	background-color: #E5414C;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 572.9100000000008px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -41px;
	padding-bottom: 5px;
	width: 0.01px;
}

#pu698
{
	width: 0.01px;
	padding-bottom: 161px;
}

#u698
{
	z-index: 2;
	width: 132px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u698_img
{
	padding-right: 1px;
}

#u700
{
	z-index: 4;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u700-bw
{
	z-index: 4;
	margin-top: 116px;
	height: 10px;
}

#slideshowu743
{
	z-index: 5;
	width: 0.01px;
	height: 219px;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 46px;
}

#u745
{
	position: absolute;
	width: 337px;
	height: 562px;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	top: -182px;
	left: -37px;
	-pie-background: rgba(68,68,68,0.9);
}

#u745popup
{
	z-index: 6;
}

#u748
{
	z-index: 7;
	width: 293px;
	height: 518px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u811
{
	z-index: 9;
	width: 293px;
	height: 518px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u820
{
	z-index: 11;
	width: 293px;
	height: 518px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u973
{
	z-index: 13;
	width: 293px;
	height: 518px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u987
{
	z-index: 15;
	width: 293px;
	height: 518px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u829
{
	z-index: 17;
	width: 293px;
	height: 518px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u838
{
	z-index: 19;
	width: 293px;
	height: 518px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u921
{
	z-index: 21;
	width: 293px;
	height: 518px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u935
{
	z-index: 23;
	width: 293px;
	height: 518px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u857
{
	z-index: 25;
	width: 293px;
	height: 518px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u866
{
	z-index: 27;
	width: 293px;
	height: 518px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u748_clip,#u811_clip,#u820_clip,#u973_clip,#u987_clip,#u829_clip,#u838_clip,#u921_clip,#u935_clip,#u857_clip,#u866_clip
{
	overflow: hidden;
	width: 293px;
	height: 518px;
}

#u748_img,#u811_img,#u820_img,#u973_img,#u987_img,#u829_img,#u838_img,#u921_img,#u935_img,#u857_img,#u866_img
{
	margin-top: -1px;
	margin-bottom: -2px;
}

#u759
{
	position: absolute;
	width: 267px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(57,181,74,0.5),0px 0px 8px rgba(57,181,74,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 4px;
}

#u759popup
{
	z-index: 29;
}

#u764
{
	z-index: 30;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 33px;
}

#u814
{
	z-index: 32;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 103px;
}

#u823
{
	z-index: 34;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 173px;
}

#u976
{
	z-index: 36;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 33px;
}

#u990
{
	z-index: 38;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 103px;
}

#u832
{
	z-index: 40;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 173px;
}

#u841
{
	z-index: 42;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 33px;
}

#u924
{
	z-index: 44;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 103px;
}

#u938
{
	z-index: 46;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 173px;
}

#u860
{
	z-index: 48;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 33px;
}

#u869
{
	z-index: 50;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 103px;
}

#u752-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 297px;
	left: 254px;
}

#u752-4popup
{
	z-index: 52;
}

#u752
{
	color: #999999;
}

#u758-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 297px;
	left: 284px;
}

#u758-4popup
{
	z-index: 56;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1791
{
	z-index: 81;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 147px;
}

#u887
{
	z-index: 60;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u887-bw
{
	z-index: 60;
	margin-top: -143px;
	margin-bottom: -10px;
	height: 10px;
}

#u888
{
	z-index: 61;
	min-height: 36px;
	border-color: #22B573;
	background-color: #FFFFFF;
	padding-bottom: 7px;
}

#u893
{
	z-index: 66;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u893:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,0,0,0.5);
	width: 145px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u891
{
	z-index: 64;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 167px;
}

#u891:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 56px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u889
{
	z-index: 62;
	width: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 238px;
}

#u889:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(241,90,36,0.5);
	width: 105px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u888-bw
{
	z-index: 61;
	min-height: 36px;
	margin-top: -134px;
	margin-bottom: -43px;
}

#u895
{
	z-index: 68;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u700::before,#u887::before,#u895::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u895-bw
{
	z-index: 68;
	margin-top: -91px;
	margin-bottom: -10px;
	height: 10px;
}

#ppbuttonu912
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: -48px;
}

#pbuttonu912
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#buttonu912
{
	z-index: 70;
	width: 148px;
	height: 48px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu912:hover #buttonu912
{
	width: 147px;
	height: 47px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u913
{
	z-index: 72;
	min-height: 23px;
	min-width: 114px;
	vertical-align: top;
	height: 23px;
	width: 114px;
	background: url("../images/u913.png") no-repeat 0px 0px;
}

#pbuttonu912:hover #u913
{
	height: 23px;
	width: 114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 16px;
	background: url("../images/u913-r.png") no-repeat 0px 0px;
}

#pbuttonu912 #u913
{
	height: 23px;
	width: 114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 17px;
}

#pbuttonu914
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 184px;
}

#buttonu914
{
	z-index: 76;
	width: 149px;
	height: 48px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu914:hover #buttonu914
{
	width: 148px;
	height: 47px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u915
{
	z-index: 78;
	min-height: 23px;
	min-width: 124px;
	vertical-align: top;
	height: 23px;
	width: 124px;
	background: url("../images/u915.png") no-repeat 0px 0px;
}

#pbuttonu914:hover #u915
{
	height: 23px;
	width: 124px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 13px;
	background: url("../images/u915-r.png") no-repeat 0px 0px;
}

#pbuttonu914 #u915
{
	height: 23px;
	width: 124px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 14px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

