.version.buy_me /* version checker */
{
	color: #0000FF;
	background-color: #DA68EE;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -43px;
	padding-bottom: 17px;
	width: 0.01px;
}

#pu358
{
	width: 0.01px;
}

#u358
{
	z-index: 2;
	width: 132px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#u358_img
{
	padding-right: 1px;
}

#u604
{
	z-index: 23;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u604-bw
{
	z-index: 23;
	margin-top: 118px;
	height: 10px;
}

#u418-5
{
	z-index: 6;
	display: block;
	vertical-align: top;
	margin-left: 37px;
	margin-top: 18px;
	position: relative;
}

#u379
{
	z-index: 4;
	width: 179px;
	background-color: transparent;
	margin-left: 90px;
	margin-top: 17px;
	position: relative;
}

#u379_clip
{
	overflow: hidden;
	width: 179px;
	height: 173px;
}

#u379_img
{
	margin-top: -9px;
	margin-bottom: 9px;
}

#u605
{
	z-index: 24;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u604::before,#u605::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u605-bw
{
	z-index: 24;
	margin-top: 4px;
	height: 10px;
}

#u663
{
	z-index: 25;
	min-height: 35px;
	border-width: 2px;
	border-style: solid;
	border-color: #22B573;
	background-color: #FFFFFF;
	padding-bottom: 6px;
}

#u668
{
	z-index: 30;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 14px;
}

#u668:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,0,0,0.5);
	width: 145px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u666
{
	z-index: 28;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 171px;
}

#u666:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 56px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u664
{
	z-index: 26;
	width: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 239px;
}

#u664:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(241,90,36,0.5);
	width: 105px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u663-bw
{
	z-index: 25;
	min-height: 35px;
	margin-top: 11px;
}

#ppbuttonu586
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 5px;
}

#pbuttonu586
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu586
{
	z-index: 12;
	width: 148px;
	height: 48px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu586:hover #buttonu586
{
	width: 147px;
	height: 47px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u587
{
	z-index: 14;
	min-height: 23px;
	min-width: 114px;
	vertical-align: top;
	height: 23px;
	width: 114px;
	background: url("../images/u587.png") no-repeat 0px 0px;
}

#pbuttonu586:hover #u587
{
	height: 23px;
	width: 114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 16px;
	background: url("../images/u587-r.png") no-repeat 0px 0px;
}

#pbuttonu586 #u587
{
	height: 23px;
	width: 114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 17px;
}

#pbuttonu588
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 210px;
}

#buttonu588
{
	z-index: 18;
	width: 149px;
	height: 49px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu588:hover #buttonu588
{
	width: 148px;
	height: 48px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u589
{
	z-index: 20;
	min-height: 23px;
	min-width: 119px;
	vertical-align: top;
	height: 23px;
	width: 119px;
	background: url("../images/u589.png") no-repeat 0px 0px;
}

#pbuttonu588:hover #u589
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 18px;
	background: url("../images/u589-r.png") no-repeat 0px 0px;
}

#pbuttonu588 #u589
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

