.version.contact_us /* version checker */
{
	color: #00001C;
	background-color: #CA41E4;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-bottom: 3px;
	width: 0.01px;
}

#pu152
{
	width: 0.01px;
	margin-left: -20px;
}

#u152
{
	z-index: 14;
	width: 380px;
	height: 194px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#U527_animation
{
	width: 380px;
	height: 194px;
	border: none;
}

#widgetu183
{
	z-index: 18;
	width: 0.01px;
	height: 316px;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 23px;
}

#widgetu184
{
	z-index: 19;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu184.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u185-4
{
	z-index: 20;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u186-4
{
	z-index: 24;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu184.non-empty-st #u186-4
{
	background-color: #FFFFFF;
}

#widgetu184:hover #u186-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu184.focus-st #u186-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu184.non-empty-st #u186-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu184:hover #u186-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu184.focus-st #u186-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu190
{
	z-index: 28;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu190.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u192-4
{
	z-index: 29;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u193-4
{
	z-index: 33;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu190.non-empty-st #u193-4
{
	background-color: #FFFFFF;
}

#widgetu190:hover #u193-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu190.focus-st #u193-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu190.non-empty-st #u193-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu190:hover #u193-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu190.focus-st #u193-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u188-4
{
	z-index: 37;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu183.frm-sub-st #u188-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u198-4
{
	z-index: 41;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu183.frm-subm-err-st #u198-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u189-4
{
	z-index: 45;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	font-size: 12px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu183.frm-sub-st #u188-4,#widgetu183.frm-subm-err-st #u198-4,#widgetu183.frm-subm-ok-st #u189-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu183.frm-subm-ok-st #u189-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u199-17
{
	z-index: 49;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	background: url("../images/u199-17.png") no-repeat 0px 0px;
}

#u199-17:hover
{
	background: url("../images/u199-17-r.png") no-repeat 0px 0px;
}

#u199-17:active
{
	background: url("../images/u199-17-m.png") no-repeat 0px 0px;
}

#widgetu183.frm-sub-st #u199-17
{
	background: url("../images/u199-17-fs.png") no-repeat 0px 0px;
}

#widgetu194
{
	z-index: 66;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: -1px;
}

#widgetu194.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 178px -10000px 0px 0px;
}

#u197-4
{
	z-index: 67;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu184.fld-err-st #u185-4,#widgetu194.fld-err-st #u197-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u195-4
{
	z-index: 71;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu194.non-empty-st #u195-4
{
	background-color: #FFFFFF;
}

#widgetu194:hover #u195-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu194.focus-st #u195-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu194.fld-err-st #u195-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu194.non-empty-st #u195-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu194:hover #u195-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu194.focus-st #u195-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu194_input,#widgetu194_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu201
{
	z-index: 75;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: -1px;
}

#widgetu201.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 124px -10000px 0px 0px;
}

#u202-4
{
	z-index: 76;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	text-align: left;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu190.fld-err-st #u192-4,#widgetu201.fld-err-st #u202-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu184.fld-err-st #u185-4 p,#widgetu184.fld-err-st #u185-4 span,#widgetu190.fld-err-st #u192-4 p,#widgetu190.fld-err-st #u192-4 span,#widgetu194.fld-err-st #u197-4 p,#widgetu194.fld-err-st #u197-4 span,#widgetu201.fld-err-st #u202-4 p,#widgetu201.fld-err-st #u202-4 span
{
	color: #D7244C;
}

#u204-4
{
	z-index: 80;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu201.non-empty-st #u204-4
{
	background-color: #FFFFFF;
}

#widgetu201:hover #u204-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu201.focus-st #u204-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu184.fld-err-st #u186-4,#widgetu190.fld-err-st #u193-4,#widgetu201.fld-err-st #u204-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu201.non-empty-st #u204-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu201:hover #u204-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu201.focus-st #u204-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu184.fld-err-st #u186-4 *,#widgetu190.fld-err-st #u193-4 *,#widgetu194.fld-err-st #u195-4 *,#widgetu201.fld-err-st #u204-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu184_input,#widgetu184_prompt,#widgetu190_input,#widgetu190_prompt,#widgetu201_input,#widgetu201_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu184.focus-st #widgetu184_prompt,#widgetu190.focus-st #widgetu190_prompt,#widgetu194.focus-st #widgetu194_prompt,#widgetu201.focus-st #widgetu201_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu184:hover #widgetu184_input,#widgetu184.focus-st #widgetu184_input,#widgetu184.fld-err-st #widgetu184_input,#widgetu184:hover #widgetu184_prompt,#widgetu184.fld-err-st #widgetu184_prompt,#widgetu190:hover #widgetu190_input,#widgetu190.focus-st #widgetu190_input,#widgetu190.fld-err-st #widgetu190_input,#widgetu190:hover #widgetu190_prompt,#widgetu190.fld-err-st #widgetu190_prompt,#widgetu194:hover #widgetu194_input,#widgetu194.focus-st #widgetu194_input,#widgetu194.fld-err-st #widgetu194_input,#widgetu194:hover #widgetu194_prompt,#widgetu194.fld-err-st #widgetu194_prompt,#widgetu201:hover #widgetu201_input,#widgetu201.focus-st #widgetu201_input,#widgetu201.fld-err-st #widgetu201_input,#widgetu201:hover #widgetu201_prompt,#widgetu201.fld-err-st #widgetu201_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu184.non-empty-st #widgetu184_prompt,#widgetu190.non-empty-st #widgetu190_prompt,#widgetu194.non-empty-st #widgetu194_prompt,#widgetu201.non-empty-st #widgetu201_prompt
{
	visibility: hidden;
}

#u607
{
	z-index: 88;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u607-bw
{
	z-index: 88;
	margin-top: 185px;
	height: 10px;
}

#u155
{
	z-index: 89;
	width: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 200px;
}

#u608
{
	z-index: 91;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u607::before,#u608::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u608-bw
{
	z-index: 91;
	height: 10px;
}

#u154-3
{
	z-index: 15;
	width: 123px;
	min-height: 32px;
	background-color: transparent;
	margin-left: 48px;
	top: -275px;
	margin-bottom: -32px;
	position: relative;
}

#u207-4
{
	z-index: 84;
	width: 173px;
	min-height: 1px;
	background-color: transparent;
	color: #0000FF;
	font-weight: bold;
	margin-left: 159px;
	top: -26px;
	margin-bottom: -17px;
	position: relative;
}

#ppbuttonu144
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 19px;
}

#pbuttonu144
{
	width: 0.01px;
	margin: -1px -10000px -2px -2px;
}

#buttonu144
{
	z-index: 3;
	width: 156px;
	height: 48px;
	border-color: #1248FF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 2px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu144:hover #buttonu144
{
	width: 152px;
	height: 44px;
	border-width: 4px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u145
{
	z-index: 5;
	min-height: 23px;
	min-width: 119px;
	vertical-align: top;
	height: 23px;
	width: 119px;
	background: url("../images/u145.png") no-repeat 0px 0px;
}

#pbuttonu144:hover #u145
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 12px;
	background: url("../images/u145-r.png") no-repeat 0px 0px;
}

#pbuttonu144 #u145
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#pbuttonu146
{
	width: 0.01px;
	margin: -2px -10000px -2px 204px;
}

#buttonu146
{
	z-index: 9;
	width: 151px;
	height: 49px;
	border-color: #1248FF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 2px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu146:hover #buttonu146
{
	width: 147px;
	height: 45px;
	border-width: 4px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u147
{
	z-index: 11;
	min-height: 23px;
	min-width: 119px;
	vertical-align: top;
	height: 23px;
	width: 119px;
	background: url("../images/u147.png") no-repeat 0px 0px;
}

#pbuttonu146:hover #u147
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 14px;
	background: url("../images/u147-r.png") no-repeat 0px 0px;
}

#pbuttonu146 #u147
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 16px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

