.version.fan /* version checker */
{
	color: #000013;
	background-color: #81C331;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -41px;
	padding-bottom: 23px;
	width: 0.01px;
}

#pu354
{
	width: 0.01px;
}

#u354
{
	z-index: 2;
	width: 132px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u354_img
{
	padding-right: 1px;
}

#u554
{
	z-index: 23;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u554-bw
{
	z-index: 23;
	margin-top: 118px;
	height: 10px;
}

#u423-5
{
	z-index: 18;
	display: block;
	vertical-align: top;
	margin-left: 33px;
	margin-top: 8px;
	position: relative;
}

#u376
{
	z-index: 4;
	width: 169px;
	background-color: transparent;
	border-radius: 18px;
	margin-left: 105px;
	position: relative;
}

#u376 .clip_frame
{
	-webkit-border-radius: 18px 18px 18px 18px;
}

#u555
{
	z-index: 24;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u554::before,#u555::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u555-bw
{
	z-index: 24;
	margin-top: 9px;
	height: 10px;
}

#u673
{
	z-index: 25;
	min-height: 35px;
	border-width: 2px;
	border-style: solid;
	border-color: #22B573;
	background-color: #FFFFFF;
	padding-bottom: 6px;
}

#u678
{
	z-index: 30;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 14px;
}

#u678:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,0,0,0.5);
	width: 145px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u676
{
	z-index: 28;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 171px;
}

#u676:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 56px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u674
{
	z-index: 26;
	width: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 239px;
}

#u674:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(241,90,36,0.5);
	width: 105px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u673-bw
{
	z-index: 25;
	min-height: 35px;
	margin-top: 7px;
}

#ppbuttonu396
{
	width: 0.01px;
	margin-left: 1px;
}

#pbuttonu396
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu396
{
	z-index: 7;
	width: 148px;
	height: 48px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu396:hover #buttonu396
{
	width: 147px;
	height: 47px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u397
{
	z-index: 9;
	min-height: 23px;
	min-width: 114px;
	vertical-align: top;
	height: 23px;
	width: 114px;
	background: url("../images/u397.png") no-repeat 0px 0px;
}

#pbuttonu396:hover #u397
{
	height: 23px;
	width: 114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 16px;
	background: url("../images/u397-r.png") no-repeat 0px 0px;
}

#pbuttonu396 #u397
{
	height: 23px;
	width: 114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 17px;
}

#pbuttonu398
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 210px;
}

#buttonu398
{
	z-index: 13;
	width: 149px;
	height: 49px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu398:hover #buttonu398
{
	width: 148px;
	height: 48px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u399
{
	z-index: 15;
	min-height: 23px;
	min-width: 119px;
	vertical-align: top;
	height: 23px;
	width: 119px;
	background: url("../images/u399.png") no-repeat 0px 0px;
}

#pbuttonu398:hover #u399
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 18px;
	background: url("../images/u399-r.png") no-repeat 0px 0px;
}

#pbuttonu398 #u399
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

