.version.holiday /* version checker */
{
	color: #0000E2;
	background-color: #9E5244;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -41px;
	padding-bottom: 7px;
	width: 0.01px;
}

#pu362
{
	width: 0.01px;
}

#u362
{
	z-index: 2;
	width: 132px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u362_img
{
	padding-right: 1px;
}

#u2271
{
	z-index: 23;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u2271-bw
{
	z-index: 23;
	margin-bottom: -1px;
	margin-top: 138px;
	height: 10px;
}

#u413-5
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-left: 48px;
	margin-top: 13px;
	position: relative;
}

#pu2263
{
	width: 0.01px;
	margin-top: 14px;
}

#u2263
{
	z-index: 21;
	width: 206px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u2335
{
	z-index: 24;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u2271::before,#u2335::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u2335-bw
{
	z-index: 24;
	margin-top: 195px;
	height: 10px;
}

#u2336
{
	z-index: 25;
	min-height: 35px;
	border-width: 2px;
	border-style: solid;
	border-color: #22B573;
	background-color: #FFFFFF;
	padding-bottom: 6px;
}

#u2341
{
	z-index: 30;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 14px;
}

#u2341:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,0,0,0.5);
	width: 145px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u2339
{
	z-index: 28;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 171px;
}

#u2339:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 56px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u2337
{
	z-index: 26;
	width: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 239px;
}

#u2337:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(241,90,36,0.5);
	width: 105px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u2336-bw
{
	z-index: 25;
	min-height: 35px;
}

#ppbuttonu404
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 16px;
}

#pbuttonu404
{
	width: 0.01px;
	margin: -2px -10000px -2px -2px;
}

#buttonu404
{
	z-index: 5;
	width: 167px;
	height: 48px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 2px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu404:hover #buttonu404
{
	width: 163px;
	height: 44px;
	border-width: 4px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u405
{
	z-index: 7;
	min-height: 23px;
	min-width: 119px;
	vertical-align: top;
	height: 23px;
	width: 119px;
	background: url("../images/u405.png") no-repeat 0px 0px;
}

#pbuttonu404:hover #u405
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 32px;
	background: url("../images/u405-r.png") no-repeat 0px 0px;
}

#pbuttonu404 #u405
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 34px;
}

#pbuttonu406
{
	width: 0.01px;
	margin: -2px -10000px -2px 188px;
}

#buttonu406
{
	z-index: 11;
	width: 168px;
	height: 49px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 2px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu406:hover #buttonu406
{
	width: 164px;
	height: 45px;
	border-width: 4px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u407
{
	z-index: 13;
	min-height: 23px;
	min-width: 119px;
	vertical-align: top;
	height: 23px;
	width: 119px;
	background: url("../images/u407.png") no-repeat 0px 0px;
}

#pbuttonu406:hover #u407
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 28px;
	background: url("../images/u407-r.png") no-repeat 0px 0px;
}

#pbuttonu406 #u407
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 30px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

