.version.index /* version checker */
{
	color: #0000F9;
	background-color: #6BA893;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -5px;
	padding-bottom: 4px;
	width: 0.01px;
}

#pu473
{
	width: 0.01px;
	margin-left: -20px;
}

#u473
{
	z-index: 9;
	width: 380px;
	height: 194px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#U479_animation
{
	width: 380px;
	height: 194px;
	border: none;
}

#u263
{
	z-index: 12;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u263-bw
{
	z-index: 12;
	margin-top: 5px;
	height: 10px;
}

#u262
{
	z-index: 11;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u262-bw
{
	z-index: 11;
	margin-top: -4px;
	margin-bottom: -4px;
	height: 10px;
}

#u102-5
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#u256
{
	z-index: 8;
	width: 249px;
	min-height: 53px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 76px;
	margin-top: 28px;
	position: relative;
}

#u254
{
	z-index: 7;
	width: 225px;
	min-height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 85px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#ppbuttonu590
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 9px;
}

#pbuttonu590
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#buttonu590
{
	z-index: 14;
	width: 148px;
	height: 48px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu590:hover #buttonu590
{
	width: 147px;
	height: 47px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u591
{
	z-index: 16;
	min-height: 23px;
	min-width: 114px;
	vertical-align: top;
	height: 23px;
	width: 114px;
	background: url("../images/u591.png") no-repeat 0px 0px;
}

#pbuttonu590:hover #u591
{
	height: 23px;
	width: 114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 16px;
	background: url("../images/u591-r.png") no-repeat 0px 0px;
}

#pbuttonu590 #u591
{
	height: 23px;
	width: 114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 17px;
}

#pbuttonu592
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 209px;
}

#buttonu592
{
	z-index: 20;
	width: 149px;
	height: 49px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu592:hover #buttonu592
{
	width: 148px;
	height: 48px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u593
{
	z-index: 22;
	min-height: 23px;
	min-width: 119px;
	vertical-align: top;
	height: 23px;
	width: 119px;
	background: url("../images/u593.png") no-repeat 0px 0px;
}

#pbuttonu592:hover #u593
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 18px;
	background: url("../images/u593-r.png") no-repeat 0px 0px;
}

#pbuttonu592 #u593
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

#u269
{
	z-index: 10;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u263::before,#u262::before,#u269::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u269-bw
{
	z-index: 10;
	margin-top: 8px;
	height: 10px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

