.version.index /* version checker */
{
	color: #000009;
	background-color: #58C11F;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-bottom: 71px;
	width: 0.01px;
}

#u2027
{
	z-index: 4;
	width: 360px;
	height: 570px;
	background-color: transparent;
	position: relative;
}

#U2029_animation
{
	width: 360px;
	height: 570px;
	border: none;
}

#pu254
{
	width: 0.01px;
}

#u254
{
	z-index: 2;
	width: 225px;
	min-height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
}

#u256
{
	z-index: 3;
	width: 249px;
	min-height: 53px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#u2032-5
{
	z-index: 5;
	width: 96px;
	min-height: 32px;
	background-color: transparent;
	color: #0000FF;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 257px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

