.version.selfiestix /* version checker */
{
	color: #0000FD;
	background-color: #1D985E;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -41px;
	padding-bottom: 7px;
	width: 0.01px;
}

#u366
{
	z-index: 2;
	width: 132px;
	background-color: transparent;
	margin-left: 124px;
	position: relative;
}

#u366_img
{
	padding-right: 1px;
}

#u412-5
{
	z-index: 17;
	display: block;
	vertical-align: top;
	margin-left: 29px;
	position: relative;
}

#u2366
{
	z-index: 23;
	width: 240px;
	background-color: transparent;
	margin-left: 80px;
	margin-top: 23px;
	position: relative;
}

#u368
{
	z-index: 4;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u368-bw
{
	z-index: 4;
	margin-top: -379px;
	margin-bottom: -10px;
	height: 10px;
}

#u415
{
	z-index: 22;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u415-bw
{
	z-index: 22;
	margin-top: 36px;
	height: 10px;
}

#ppbuttonu408
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 15px;
}

#pbuttonu408
{
	width: 0.01px;
	margin: -2px -10000px -2px -2px;
}

#buttonu408
{
	z-index: 6;
	width: 166px;
	height: 48px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 2px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu408:hover #buttonu408
{
	width: 162px;
	height: 44px;
	border-width: 4px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u409
{
	z-index: 8;
	min-height: 23px;
	min-width: 113px;
	vertical-align: top;
	height: 23px;
	width: 113px;
	background: url("../images/u409.png") no-repeat 0px 0px;
}

#pbuttonu408:hover #u409
{
	height: 23px;
	width: 113px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 30px;
	background: url("../images/u409-r.png") no-repeat 0px 0px;
}

#pbuttonu408 #u409
{
	height: 23px;
	width: 113px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 32px;
}

#pbuttonu410
{
	width: 0.01px;
	margin: -2px -10000px -2px 208px;
}

#buttonu410
{
	z-index: 12;
	width: 168px;
	height: 49px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 2px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu410:hover #buttonu410
{
	width: 164px;
	height: 45px;
	border-width: 4px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u411
{
	z-index: 14;
	min-height: 23px;
	min-width: 119px;
	vertical-align: top;
	height: 23px;
	width: 119px;
	background: url("../images/u411.png") no-repeat 0px 0px;
}

#pbuttonu410:hover #u411
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 28px;
	background: url("../images/u411-r.png") no-repeat 0px 0px;
}

#pbuttonu410 #u411
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 30px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

