.version.streetcar /* version checker */
{
	color: #0000F0;
	background-color: #ED3F62;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -41px;
	padding-bottom: 7px;
	width: 0.01px;
}

#pu350
{
	width: 0.01px;
}

#u350
{
	z-index: 2;
	width: 132px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#u350_img
{
	padding-right: 1px;
}

#u613
{
	z-index: 21;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u613-bw
{
	z-index: 21;
	margin-top: 116px;
	height: 10px;
}

#u429-5
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 4px;
	position: relative;
}

#pu614
{
	width: 0.01px;
	margin-top: 11px;
}

#u614
{
	z-index: 22;
	height: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #1B1464 url("../images/images.jpg") no-repeat right center;
}

#u613::before,#u614::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u614-bw
{
	z-index: 22;
	margin-top: 248px;
	height: 10px;
}

#u615
{
	z-index: 23;
	min-height: 35px;
	border-width: 2px;
	border-style: solid;
	border-color: #22B573;
	background-color: #FFFFFF;
	padding-bottom: 6px;
}

#u620
{
	z-index: 28;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 14px;
}

#u618
{
	z-index: 26;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 171px;
}

#u616
{
	z-index: 24;
	width: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 239px;
}

#u615-bw
{
	z-index: 23;
	min-height: 35px;
	margin-bottom: -1px;
	margin-top: 226px;
}

#u2075
{
	z-index: 30;
	width: 281px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 40px;
}

#u2075_clip
{
	overflow: hidden;
	width: 281px;
	height: 237px;
}

#u2075_img
{
	margin-bottom: -41px;
}

#ppbuttonu392
{
	width: 0.01px;
	margin-top: 26px;
}

#pbuttonu392
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#buttonu392
{
	z-index: 5;
	width: 153px;
	height: 48px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu392:hover #buttonu392
{
	width: 152px;
	height: 47px;
	border-width: 1px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u393
{
	z-index: 7;
	min-height: 23px;
	min-width: 119px;
	vertical-align: top;
	height: 23px;
	width: 119px;
	background: url("../images/u393.png") no-repeat 0px 0px;
}

#pbuttonu392:hover #u393
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 16px;
	background: url("../images/u393-r.png") no-repeat 0px 0px;
}

#pbuttonu392 #u393
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 17px;
}

#pbuttonu394
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 212px;
}

#buttonu394
{
	z-index: 11;
	width: 149px;
	height: 49px;
	border-color: #787878;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/images.jpg") no-repeat right bottom;
}

#pbuttonu394:hover #buttonu394
{
	width: 148px;
	height: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #1248FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	background: #545454 url("../images/images.jpg") no-repeat right bottom;
}

#u395
{
	z-index: 13;
	min-height: 23px;
	min-width: 119px;
	vertical-align: top;
	height: 23px;
	width: 119px;
	background: url("../images/u395.png") no-repeat 0px 0px;
}

#pbuttonu394:hover #u395
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
	background: url("../images/u395-r.png") no-repeat 0px 0px;
}

#pbuttonu394 #u395
{
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 15px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

